# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt



# Java/Forge/Minecraft
*.class
.gradle/
build/
out/
.idea/
*.iml

# VS Code
.vscode/

# OS/system junk
.DS_Store
Thumbs.db